/* Styler overskrift*/
.Header {
  font-family: Arial, Helvetica, serif;
  font-size: 60px;
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Visualiserer lister */
.Liste {
  border-radius: 7px;
  border: 2px solid #d0d0d0;
  background-color: #f0f0f0;
  padding: 15px;
  width: 92.5%;
}

/*Midtstille diverse*/
.Midtstille {
  margin: auto;
  padding: 10px;
}
