body {
  background-image: url("../src/components/background_blurred.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0vw top 5vh;
}

#root {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: auto;
  padding: 120px 5px 5px 5px;
}


/* Styler overskrift*/
.Header {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: 'Faster One', cursive;
  font-size: 4em;
  background-color: HotPink;
  color: Yellow;
  text-shadow: 2px 2px black;
  text-align: center;
}

.contents {
  margin-top: 120px;
}

.card {
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

/* Visualiserer lister */
.Liste {
  border-radius: 7px;
  border: 2px solid #d0d0d0;
  background-color: #f0f0f0;
  padding: 15px;
  width: 92.5%;
}

/*Midtstille diverse*/
.Midtstille {
  margin: auto;
  padding: 10px;
}

.navTable {
  position: fixed;
  margin-left: -25vw;
  margin-top: -40px;
  z-index: 9;
  background-color: black;
  width: 100%;
}

.navbutton {
}

.NavLink_Style {
  color: white;
  padding: 12px;
  font-size: 1.5em;
  font-family: 'Contrail One', cursive;
}

.NavLink_Style:hover {
  color: yellow;
}

.active {
  color: Chartreuse;
}

.NavLink_Style:visited {
  color: HotPink;
}

.btn-success {
  background-color: HotPink;
  font-family: 'Contrail One', cursive;
}

.btn-success:hover {
  background-color: MediumVioletRed;
}

.register_menu {
  position: fixed;
  z-index: 8;
  background-color: black;
  width: 100vw;
  margin-left: -25vw;
  margin-top: -12px;
  padding: 2px 0 2px 35vw;
}

.register {
  color: white;
  font-family: 'Contrail One', cursive;
  font-size: 1.2em;
  padding: 25px 10px 10px 10px;
}

.register:hover {
  color: yellow;
}

.form-control {
  width: auto;
  max-width: 40vw
  min-width: 30vw;
}

#sykkelArea {
  width: auto;
  max-width: 40vw
  min-width: 30vw;
}

.table-striped{
  background-color: rgba(200, 200, 200, 1);
}
